body {
    background-color: rgb(65, 62, 62);
    color: rgb(202, 202, 202);
    text-align: center;
}
.remove {
    display: none;
}
.die {
    width: 60%;
}
.center {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.scoreCenter {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
}
.superCenter {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 15% 70% 10%;
    grid-row-gap: 10%;
    justify-content: center;
}
.buttonCenter {
    display: grid;
    justify-content: center;
}
.background {
    background-color: rgb(209, 209, 209);
}